/* battery icon: https://i.im.ge/2024/03/04/8jWVW0.battery-icon.png */
/* logo: <img src="https://i.im.ge/2024/03/04/8jHXbD.logo-removed.png"> */

body{
    background-color: white;
    display: flex;
    justify-content: center; /*! SRODKOWANIE W POZIOMIE */
    /* align-items: center; */ /*! SRODKOWANIE W PIONIE */
}

h1, h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
}

/*! --------------------------------- HEADER -------------------------------  */

.header .main_title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .main_title h1{
    font-size: 6vh;

    text-align: center;
    position: fixed;
    top: 1vh;
}

.header .logo{
    position: fixed;
    top: 2vh;
    left: 1vw;
}    

.header .logo img{
    width: auto;
    height: 15vh;
}

/*! --------------------------------- FOOTER -------------------------------  */

.footer{
    position:fixed;
    bottom:0vh;
    background-color: #076EE7;
    width: 100vw;
    height: 4vh;

    display: flex;
    justify-content: center; /* Wyśrodkowanie elementów w poziomie */
    align-items: center; /* Wyśrodkowanie elementów w pionie */
}

.footer .text h2{
    color:white;
    font-size: 2.8vh;
    letter-spacing: 1vw;
}


/*! --------------------------------- DIODE -------------------------------  */

.diode_symbol{
    background-color: red;
    box-shadow: 0 0 5px red;
    /* NIERESPONSYWNE */
    width: 30px; 
    height: 30px;
    border-radius: 50%; 

    position:fixed;
    right: 3.3vw;
    top: 6vh;
}

.diode_text{
    position:fixed;
    right: 6.65vw;
    top: 1.3vh;
    
}

.diode_text h2{
    font-size: 3.4vh;
}

/*! ------------------------------- INFO PANEL RIGHT -------------------------------------*/
.info_panel_RIGHT{
    background-color: #D9D9D9;

    width: 18vw;
    height: 75vh;
    border-radius: 20px;

    position:fixed;
    top: 17vh;
    right: 4vw;

    display: flex;
    align-items: center;

    flex-direction: column;
}

/* TODO ------------- TOTAL CURRENT ---------------*/

.info_panel_RIGHT .info_box_total_current .white_box{
    margin-top: 3vh;
    
    background-color: white;
    border-radius: 21px;

    width:15vw;

    height:10vh;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center; /* Środkowanie w pionie */

    margin-bottom: 0px;
    
}

.info_panel_RIGHT .info_box_total_current .white_box .value h2{
    font-size: 6vh;
}

.info_panel_RIGHT .info_box_total_current .box_name{
    text-align: center;
    margin-top: -5%;
}

.info_panel_RIGHT .info_box_total_current .box_name h2{
    font-size: 3.3vh;
}

/* TODO --------------- TOTAL VOLTAGE ----------------- */

.info_panel_RIGHT .info_box_total_voltage .white_box{
    
    background-color: white;
    border-radius: 21px;
    width:15vw;
    height:10vh;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center; /* Środkowanie w pionie */
    }

.info_panel_RIGHT .info_box_total_voltage .white_box .value h2{
    font-size: 6vh;
}

.info_panel_RIGHT .info_box_total_voltage .box_name{
    text-align: center;
    margin-top: -5%;
}

.info_panel_RIGHT .info_box_total_voltage .box_name h2{
    font-size: 3.3vh;
} 

/* TODO --------------- TEMPERATURE I --------------------- */

.info_panel_RIGHT .info_box_temperature1 .white_box{
    
    background-color: white;
    border-radius: 21px;
    width:15vw;
    height:10vh;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center; /* Środkowanie w pionie */
    }

.info_panel_RIGHT .info_box_temperature1 .white_box .value h2{
    font-size: 6vh;
}

.info_panel_RIGHT .info_box_temperature1 .box_name{
    text-align: center;
    margin-top: -5%;
}

.info_panel_RIGHT .info_box_temperature1 .box_name h2{
    font-size: 3.3vh;
}

/* TODO ----------------- TEMPERATURE II -------------------  */

.info_panel_RIGHT .info_box_temperature2 .white_box{
    
    background-color: white;
    border-radius: 21px;
    width:15vw;
    height:10vh;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center; /* Środkowanie w pionie */
    }

.info_panel_RIGHT .info_box_temperature2 .white_box .value h2{
    font-size: 6vh;
}

.info_panel_RIGHT .info_box_temperature2 .box_name{
    text-align: center;
    margin-top: -5%;
}

.info_panel_RIGHT .info_box_temperature2 .box_name h2{
    font-size: 3.3vh;
} 

/*! ------------------------------------------- INFO PANEL - ABOVE CELLS ----------------------------------------------  */

.info_panel_ABOVE_CELLS{
    width: 59vw;
    height: 8vh;

    position: fixed;
    top: 16.7vh;
    left: 11vw;

    /* border: 2px solid black; */

    display: flex;
    justify-content: center; /* Wyśrodkowanie elementów w poziomie */
    align-items: center; /* Wyśrodkowanie elementów w pionie */

    flex-direction: row;   
}

.info_panel_ABOVE_CELLS .battery_percentage{
    width: 30%;
    height: 90%;
    /* border: 2px solid black; */
    margin-right: 4%;

    display: flex;
    justify-content: center; /* Wyśrodkowanie elementów w poziomie */
    align-items: center; /* Wyśrodkowanie elementów w pionie */

    flex-direction: row; 
}

.info_panel_ABOVE_CELLS .battery_percentage .name {
    text-align: center;
    margin-right: 4%;
}
.info_panel_ABOVE_CELLS .battery_percentage .name h2{
    /* font-size: 2.5vh; */
    font-size: 150%;
    line-height: 90%;
}

.info_panel_ABOVE_CELLS .battery_percentage .white_box{
    width: 70%;
    height: 90%;
    border: 3px solid black;
    border-radius: 21px;

    display: flex;
    justify-content: center; /* Wyśrodkowanie elementów w poziomie */
    align-items: center; /* Wyśrodkowanie elementów w pionie */
}

.info_panel_ABOVE_CELLS .battery_percentage .white_box h2{
    font-size: 4vh;
}

.info_panel_ABOVE_CELLS .minimum_cell_voltage{
    width: 30%;
    height: 90%;
    /* border: 2px solid black; */
    margin-right: 5%;

    display: flex;
    justify-content: center; /* Wyśrodkowanie elementów w poziomie */
    align-items: center; /* Wyśrodkowanie elementów w pionie */

    flex-direction: row; 
}

.info_panel_ABOVE_CELLS .minimum_cell_voltage .name {
    text-align: center;
    margin-right: 4%;
}
.info_panel_ABOVE_CELLS .minimum_cell_voltage .name h2{
    /* font-size: 2.5vh; */
    font-size: 150%;
    line-height: 90%;
}

.info_panel_ABOVE_CELLS .minimum_cell_voltage .white_box{
    width: 50%;
    height: 90%;
    border: 3px solid black;
    border-radius: 21px;

    display: flex;
    justify-content: center; /* Wyśrodkowanie elementów w poziomie */
    align-items: center; /* Wyśrodkowanie elementów w pionie */
}

.info_panel_ABOVE_CELLS .minimum_cell_voltage .white_box h2{
    font-size: 4vh;
}

.info_panel_ABOVE_CELLS .maximum_cell_voltage{
    width: 30%;
    height: 90%;
    /* border: 2px solid black; */

    display: flex;
    justify-content: center; /* Wyśrodkowanie elementów w poziomie */
    align-items: center; /* Wyśrodkowanie elementów w pionie */

    flex-direction: row; 
}

.info_panel_ABOVE_CELLS .maximum_cell_voltage .name {
    text-align: center;
    margin-right: 4%;
}
.info_panel_ABOVE_CELLS .maximum_cell_voltage .name h2{
    /* font-size: 2.5vh; */
    font-size: 150%;
    line-height: 90%;
}

.info_panel_ABOVE_CELLS .maximum_cell_voltage .white_box{
    width: 50%;
    height: 90%;
    border: 3px solid black;
    border-radius: 21px;

    display: flex;
    justify-content: center; /* Wyśrodkowanie elementów w poziomie */
    align-items: center; /* Wyśrodkowanie elementów w pionie */
}

.info_panel_ABOVE_CELLS .maximum_cell_voltage .white_box h2{
    font-size: 4vh;
}


/*! -------------------------------- INFO PANEL - CELLS -------------------------------- */

/*! display: flex;
/*! justify-content: center; Wyśrodkowanie elementów w poziomie */
/*! align-items: center; Wyśrodkowanie elementów w pionie */

/*! text-align: center; */

/* ? --------------------------------------- POWINNO BYĆ DOBRZE -------------------------------- */
.info_panel_CELLS{
    background-color: #D9D9D9;

    width: 72vw;
    height: 66vh;
    border-radius: 20px;

    position:fixed;
    top: 26vh;
    left: 4vw;

    display: flex;
    align-items: center; /*! align-items: center; Wyśrodkowanie elementów w pionie */
    justify-content: center;


    flex-direction: column;
}

.info_panel_CELLS .text{
    position:fixed;
    top:25vh;
    left:8vw;
}

.info_panel_CELLS .text h1{
    font-size: 4.82vh;
}

/*? --------------------------------------------------------------------------------------------------- */

.battery_row_TOP{
    /* do ustawienia pozycja, szerokość i wysokośc kontenera */
    width: 62vw;
    height: 20vh;
    /* border: 2px solid black; */

    /*! realizacja wyrównania w pionie i poziomie */
    display: flex;
    align-items: center; 
    justify-content: center;

    /*! rozmieszczenie elementów automatycznie w wierszu */
    flex-direction: row; /*Rozmieszcza elementy równomiernie wzdłuż osi poziomej*/
}


/* ! CELL 1 */

.info_panel_CELLS .battery_row_TOP .cell_1{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:2.8vw;
    margin-top:auto;
    margin-bottom:auto;
}

.info_panel_CELLS .battery_row_TOP .cell_1 .battery_icon{
    /* margin-top: 42vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
}

.info_panel_CELLS .battery_row_TOP .cell_1 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.info_panel_CELLS .battery_row_TOP .cell_1 .battery_icon .diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    margin-top: -11vh;
}

.info_panel_CELLS .battery_row_TOP .cell_1 .battery_icon .voltage_value{
    /* margin-top: -0.1vh; */
}

.info_panel_CELLS .battery_row_TOP .cell_1 .battery_icon .voltage_value h2{
    font-size: 2.9vh;
}

.info_panel_CELLS .battery_row_TOP .cell_1 .cell_number{
    margin-top: -1vh;
}

.info_panel_CELLS .battery_row_TOP .cell_1 .cell_number h2{
    font-size: 3.75vh;
}

/* ! CELL 2 */

.info_panel_CELLS .battery_row_TOP .cell_2{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:2.8vw;
    margin-top:auto;
    margin-bottom:auto;
}

.info_panel_CELLS .battery_row_TOP .cell_2 .battery_icon{
    /* margin-top: 42vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
}

.info_panel_CELLS .battery_row_TOP .cell_2 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.info_panel_CELLS .battery_row_TOP .cell_2 .battery_icon .diode{
    background-color: green;
    box-shadow: 0 0 5px green;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    margin-top: -11vh;
}

.info_panel_CELLS .battery_row_TOP .cell_2 .battery_icon .voltage_value{
    /* margin-top: -0.1vh; */
}

.info_panel_CELLS .battery_row_TOP .cell_2 .battery_icon .voltage_value h2{
    font-size: 2.9vh;
    font-weight: 700;
    color: red;
}

.info_panel_CELLS .battery_row_TOP .cell_2 .cell_number{
    margin-top: -1vh;
}

.info_panel_CELLS .battery_row_TOP .cell_2 .cell_number h2{
    font-size: 3.75vh;
}

/* ! CELL 3 */

.info_panel_CELLS .battery_row_TOP .cell_3{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:2.8vw;
    margin-top:auto;
    margin-bottom:auto;
}

.info_panel_CELLS .battery_row_TOP .cell_3 .battery_icon{
    /* margin-top: 42vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
}

.info_panel_CELLS .battery_row_TOP .cell_3 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.info_panel_CELLS .battery_row_TOP .cell_3 .battery_icon .diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    margin-top: -11vh;
}

.info_panel_CELLS .battery_row_TOP .cell_3 .battery_icon .voltage_value{
    /* margin-top: -0.1vh; */
}

.info_panel_CELLS .battery_row_TOP .cell_3 .battery_icon .voltage_value h2{
    font-size: 2.9vh;
}

.info_panel_CELLS .battery_row_TOP .cell_3 .cell_number{
    margin-top: -1vh;
}

.info_panel_CELLS .battery_row_TOP .cell_3 .cell_number h2{
    font-size: 3.75vh;
}

/* ! CELL 4 */

.info_panel_CELLS .battery_row_TOP .cell_4{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:2.8vw;
    margin-top:auto;
    margin-bottom:auto;
}

.info_panel_CELLS .battery_row_TOP .cell_4 .battery_icon{
    /* margin-top: 42vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
}

.info_panel_CELLS .battery_row_TOP .cell_4 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.info_panel_CELLS .battery_row_TOP .cell_4 .battery_icon .diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    margin-top: -11vh;
}

.info_panel_CELLS .battery_row_TOP .cell_4 .battery_icon .voltage_value{
    /* margin-top: -0.1vh; */
}

.info_panel_CELLS .battery_row_TOP .cell_4 .battery_icon .voltage_value h2{
    font-size: 2.9vh;
}

.info_panel_CELLS .battery_row_TOP .cell_4 .cell_number{
    margin-top: -1vh;
}

.info_panel_CELLS .battery_row_TOP .cell_4 .cell_number h2{
    font-size: 3.75vh;
}

/* ! CELL 5 */

.info_panel_CELLS .battery_row_TOP .cell_5{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:2.8vw;
    margin-top:auto;
    margin-bottom:auto;
}

.info_panel_CELLS .battery_row_TOP .cell_5 .battery_icon{
    /* margin-top: 42vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
}

.info_panel_CELLS .battery_row_TOP .cell_5 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.info_panel_CELLS .battery_row_TOP .cell_5 .battery_icon .diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    margin-top: -11vh;
}

.info_panel_CELLS .battery_row_TOP .cell_5 .battery_icon .voltage_value{
    /* margin-top: -0.1vh; */
}

.info_panel_CELLS .battery_row_TOP .cell_5 .battery_icon .voltage_value h2{
    font-size: 2.9vh;
}

.info_panel_CELLS .battery_row_TOP .cell_5 .cell_number{
    margin-top: -1vh;
}

.info_panel_CELLS .battery_row_TOP .cell_5 .cell_number h2{
    font-size: 3.75vh;
}

/* ! CELL 6 */

.info_panel_CELLS .battery_row_TOP .cell_6{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:2.8vw;
    margin-top:auto;
    margin-bottom:auto;
}

.info_panel_CELLS .battery_row_TOP .cell_6 .battery_icon{
    /* margin-top: 42vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
}

.info_panel_CELLS .battery_row_TOP .cell_6 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.info_panel_CELLS .battery_row_TOP .cell_6 .battery_icon .diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    margin-top: -11vh;
}

.info_panel_CELLS .battery_row_TOP .cell_6 .battery_icon .voltage_value{
    /* margin-top: -0.1vh; */
}

.info_panel_CELLS .battery_row_TOP .cell_6 .battery_icon .voltage_value h2{
    font-size: 2.9vh;
}

.info_panel_CELLS .battery_row_TOP .cell_6 .cell_number{
    margin-top: -1vh;
}

.info_panel_CELLS .battery_row_TOP .cell_6 .cell_number h2{
    font-size: 3.75vh;
}

/* ! CELL 7 */

.info_panel_CELLS .battery_row_TOP .cell_7{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:2.8vw;
    margin-top:auto;
    margin-bottom:auto;
}

.info_panel_CELLS .battery_row_TOP .cell_7 .battery_icon{
    /* margin-top: 42vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
}

.info_panel_CELLS .battery_row_TOP .cell_7 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.info_panel_CELLS .battery_row_TOP .cell_7 .battery_icon .diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    margin-top: -11vh;
}

.info_panel_CELLS .battery_row_TOP .cell_7 .battery_icon .voltage_value{
    /* margin-top: -0.1vh; */
}

.info_panel_CELLS .battery_row_TOP .cell_7 .battery_icon .voltage_value h2{
    font-size: 2.9vh;
}

.info_panel_CELLS .battery_row_TOP .cell_7 .cell_number{
    margin-top: -1vh;
}

.info_panel_CELLS .battery_row_TOP .cell_7 .cell_number h2{
    font-size: 3.75vh;
}

/* ! CELL 8 */

.info_panel_CELLS .battery_row_TOP .cell_8{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:2.8vw;
    margin-top:auto;
    margin-bottom:auto;
}

.info_panel_CELLS .battery_row_TOP .cell_8 .battery_icon{
    /* margin-top: 42vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
}

.info_panel_CELLS .battery_row_TOP .cell_8 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.info_panel_CELLS .battery_row_TOP .cell_8 .battery_icon .diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    margin-top: -11vh;
}

.info_panel_CELLS .battery_row_TOP .cell_8 .battery_icon .voltage_value{
    /* margin-top: -0.1vh; */
}

.info_panel_CELLS .battery_row_TOP .cell_8 .battery_icon .voltage_value h2{
    font-size: 2.9vh;
}

.info_panel_CELLS .battery_row_TOP .cell_8 .cell_number{
    margin-top: -1vh;
}

.info_panel_CELLS .battery_row_TOP .cell_8 .cell_number h2{
    font-size: 3.75vh;
}

/* ! CELL 9 */

.info_panel_CELLS .battery_row_TOP .cell_9{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* margin-right:2.8vw; */
    margin-top:auto;
    margin-bottom:auto;
}

.info_panel_CELLS .battery_row_TOP .cell_9 .battery_icon{
    /* margin-top: 42vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
}

.info_panel_CELLS .battery_row_TOP .cell_9 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.info_panel_CELLS .battery_row_TOP .cell_9 .battery_icon .diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    margin-top: -11vh;
}

.info_panel_CELLS .battery_row_TOP .cell_9 .battery_icon .voltage_value{
    /* margin-top: -0.1vh; */
}

.info_panel_CELLS .battery_row_TOP .cell_9 .battery_icon .voltage_value h2{
    font-size: 2.9vh;
}

.info_panel_CELLS .battery_row_TOP .cell_9 .cell_number{
    margin-top: -1vh;
}

.info_panel_CELLS .battery_row_TOP .cell_9 .cell_number h2{
    font-size: 3.75vh;
}
/* ! -------------------------------------------------------------------------------------------------------------- */
/* ! -------------------------------------------------------------------------------------------------------------- */

.battery_row_BOTTOM{
    /* do ustawienia pozycja, szerokość i wysokośc kontenera */
    width: 62vw;
    height: 20vh;
    /* border: 2px solid black; */
    margin-top: 4vh;

    /*! realizacja wyrównania w pionie i poziomie */
    display: flex;
    align-items: center; 
    justify-content: center;

    /*! rozmieszczenie elementów automatycznie w wierszu */
    flex-direction: row; /*Rozmieszcza elementy równomiernie wzdłuż osi poziomej*/
}


/* ! CELL 10 */

.info_panel_CELLS .battery_row_BOTTOM .cell_10{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:2.8vw;
    margin-top:auto;
    margin-bottom:auto;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_10 .battery_icon{
    /* margin-top: 42vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_10 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_10 .battery_icon .diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    margin-top: -11vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_10 .battery_icon .voltage_value{
    /* margin-top: -0.1vh; */
}

.info_panel_CELLS .battery_row_BOTTOM .cell_10 .battery_icon .voltage_value h2{
    font-size: 2.9vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_10 .cell_number{
    margin-top: -1vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_10 .cell_number h2{
    font-size: 3.75vh;
}

/* ! CELL 11 */

.info_panel_CELLS .battery_row_BOTTOM .cell_11{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:2.8vw;
    margin-top:auto;
    margin-bottom:auto;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_11 .battery_icon{
    /* margin-top: 42vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_11 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_11 .battery_icon .diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    margin-top: -11vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_11 .battery_icon .voltage_value{
    /* margin-top: -0.1vh; */
}

.info_panel_CELLS .battery_row_BOTTOM .cell_11 .battery_icon .voltage_value h2{
    font-size: 2.9vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_11 .cell_number{
    margin-top: -1vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_11 .cell_number h2{
    font-size: 3.75vh;
}

/* ! CELL 12 */

.info_panel_CELLS .battery_row_BOTTOM .cell_12{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:2.8vw;
    margin-top:auto;
    margin-bottom:auto;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_12 .battery_icon{
    /* margin-top: 42vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_12 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_12 .battery_icon .diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    margin-top: -11vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_12 .battery_icon .voltage_value{
    /* margin-top: -0.1vh; */
}

.info_panel_CELLS .battery_row_BOTTOM .cell_12 .battery_icon .voltage_value h2{
    font-size: 2.9vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_12 .cell_number{
    margin-top: -1vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_12 .cell_number h2{
    font-size: 3.75vh;
}

/* ! CELL 13 */

.info_panel_CELLS .battery_row_BOTTOM .cell_13{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:2.8vw;
    margin-top:auto;
    margin-bottom:auto;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_13 .battery_icon{
    /* margin-top: 42vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_13 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_13 .battery_icon .diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    margin-top: -11vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_13 .battery_icon .voltage_value{
    /* margin-top: -0.1vh; */
}

.info_panel_CELLS .battery_row_BOTTOM .cell_13 .battery_icon .voltage_value h2{
    font-size: 2.9vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_13 .cell_number{
    margin-top: -1vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_13 .cell_number h2{
    font-size: 3.75vh;
}

/* ! CELL 14 */

.info_panel_CELLS .battery_row_BOTTOM .cell_14{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:2.8vw;
    margin-top:auto;
    margin-bottom:auto;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_14 .battery_icon{
    /* margin-top: 42vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_14 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_14 .battery_icon .diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    margin-top: -11vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_14 .battery_icon .voltage_value{
    /* margin-top: -0.1vh; */
}

.info_panel_CELLS .battery_row_BOTTOM .cell_14 .battery_icon .voltage_value h2{
    font-size: 2.9vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_14 .cell_number{
    margin-top: -1vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_14 .cell_number h2{
    font-size: 3.75vh;
}

/* ! CELL 15 */

.info_panel_CELLS .battery_row_BOTTOM .cell_15{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:2.8vw;
    margin-top:auto;
    margin-bottom:auto;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_15 .battery_icon{
    /* margin-top: 42vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_15 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_15 .battery_icon .diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    margin-top: -11vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_15 .battery_icon .voltage_value{
    /* margin-top: -0.1vh; */
}

.info_panel_CELLS .battery_row_BOTTOM .cell_15 .battery_icon .voltage_value h2{
    font-size: 2.9vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_15 .cell_number{
    margin-top: -1vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_15 .cell_number h2{
    font-size: 3.75vh;
}

/* ! CELL 16 */

.info_panel_CELLS .battery_row_BOTTOM .cell_16{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:2.8vw;
    margin-top:auto;
    margin-bottom:auto;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_16 .battery_icon{
    /* margin-top: 42vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_16 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_16 .battery_icon .diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    margin-top: -11vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_16 .battery_icon .voltage_value{
    /* margin-top: -0.1vh; */
}

.info_panel_CELLS .battery_row_BOTTOM .cell_16 .battery_icon .voltage_value h2{
    font-size: 2.9vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_16 .cell_number{
    margin-top: -1vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_16 .cell_number h2{
    font-size: 3.75vh;
}

/* ! CELL 17 */

.info_panel_CELLS .battery_row_BOTTOM .cell_17{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right:2.8vw;
    margin-top:auto;
    margin-bottom:auto;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_17 .battery_icon{
    /* margin-top: 42vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_17 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_17 .battery_icon .diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    margin-top: -11vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_17 .battery_icon .voltage_value{
    /* margin-top: -0.1vh; */
}

.info_panel_CELLS .battery_row_BOTTOM .cell_17 .battery_icon .voltage_value h2{
    font-size: 2.9vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_17 .cell_number{
    margin-top: -1vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_17 .cell_number h2{
    font-size: 3.75vh;
}

/* ! CELL 18 */

.info_panel_CELLS .battery_row_BOTTOM .cell_18{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:auto;
    margin-bottom:auto;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_18 .battery_icon{
    /* margin-top: 42vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 0vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_18 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_18 .battery_icon .diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%;
    margin-top: -11vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_18 .battery_icon .voltage_value{
    /* margin-top: -0.1vh; */
}

.info_panel_CELLS .battery_row_BOTTOM .cell_18 .battery_icon .voltage_value h2{
    font-size: 2.9vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_18 .cell_number{
    margin-top: -1vh;
}

.info_panel_CELLS .battery_row_BOTTOM .cell_18 .cell_number h2{
    font-size: 3.75vh;
}
