/* battery icon: https://i.im.ge/2024/03/04/8jWVW0.battery-icon.png */
/* logo: <img src="https://i.im.ge/2024/03/04/8jHXbD.logo-removed.png"> */

body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_title{
    text-align: center;
    position: fixed;
    top: 1vh;

}
.main_title h1{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 6vh;
}

.logo{
    position: fixed;
    top: 2vh;
    left: 1vw;
}    

.logo img{
    width: auto;
    height: 15vh;
}

.footer-background{
    position:fixed;
    bottom:-1vh;
    background-color: #076EE7;
    width: 100vw;
    height: 4vh;
}

.footer-text{
    position:fixed;
    bottom: -3vh;
}

.footer-text h2{
    color:white;
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.8vh;
    letter-spacing: 1vw;
}

/* -------------------------------------- DIODA -------------------------------------------*/
.diode_symbol{
    background-color: red;
    box-shadow: 0 0 5px red;
    /* NIERESPONSYWNE */
    width: 30px; 
    height: 30px;
    border-radius: 50%; 

    position:fixed;
    right: 3.3vw;
    top: 6vh;
}

.diode_text{
    position:fixed;
    right: 6.65vw;
    top: 1.3vh;
    
}

.diode_text h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.4vh;
}

/* ------------------------------- INFO PANEL RIGHT -------------------------------------*/
.info_panel_RIGHT{
    background-color: #D9D9D9;

    width: 18vw;
    height: 75vh;
    border-radius: 20px;

    position:fixed;
    top: 17vh;
    right: 4vw;
}

/* -------------------TOTAL CURRENT------------------------- */
.info_box_total_current .white_box{
    background-color: white;
    border-radius: 21px;
    width:13.6vw;
    height:8.84vh;

    position:fixed;
    top: 21.4vh;
    right: 6.4vw;
}

.info_box_total_current .value{
    position:fixed;
    top: 17vh;
    right: 9.5vw;

}

.info_box_total_current .value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 6vh;
}

.info_box_total_current .box_name{
    position:fixed;
    top: 29vh;
    right: 5.6vw;

}

.info_box_total_current .box_name h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.3vh;
}

/* ------------------TOTAL VOLTAGE------------------ */
.info_box_total_voltage .white_box{
    background-color: white;
    border-radius: 21px;
    width:13.6vw;
    height:8.84vh;

    position:fixed;
    top: 38.66vh;
    right: 6.4vw;
}

.info_box_total_voltage .value{
    position:fixed;
    top: 34vh;
    right: 9.5vw;

}

.info_box_total_voltage .value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 6vh;
}

.info_box_total_voltage .box_name{
    position:fixed;
    top: 46vh;
    right: 5.6vw;

}

.info_box_total_voltage .box_name h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.3vh;
}

/* ------------------------TEMPERATURE 1---------------- */
.info_box_temperature1 .white_box{
    background-color: white;
    border-radius: 21px;
    width:13.6vw;
    height:8.84vh;

    position:fixed;
    top: 55vh;
    right: 6.4vw;
}

.info_box_temperature1 .value{
    position:fixed;
    top: 50.5vh;
    right: 9vw;

}

.info_box_temperature1 .value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 6vh;
}

.info_box_temperature1 .box_name{
    position:fixed;
    top: 62vh;
    right: 5.6vw;

}

.info_box_temperature1 .box_name h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.3vh;
}

/* ----------------TEMPERATURE 2-------------------- */
.info_box_temperature2 .white_box{
    background-color: white;
    border-radius: 21px;
    width:13.6vw;
    height:8.84vh;

    position:fixed;
    top: 71vh;
    right: 6.4vw;
}

.info_box_temperature2 .value{
    position:fixed;
    top: 66.5vh;
    right: 9vw;

}

.info_box_temperature2 .value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 6vh;
}

.info_box_temperature2 .box_name{
    position:fixed;
    top: 78vh;
    right: 5vw;

}

.info_box_temperature2 .box_name h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.3vh;
}

/* -----------------------------------INFO PANEL - ABOVE CELLS ----------------------------*/
/* battery percentage */
.info_box_battery_percentage .white_box{
    background-color: white;
    position:fixed;
    top: 16.6vh;
    left: 20vw;

    width: 8vw;
    height: 6vh;
    border-radius: 21px;
    border: 2px solid #333;

}

.info_box_battery_percentage .value{
    text-align: center;

    position: fixed;
    top: 13.8vh;
    left: 22.3vw;

}

.info_box_battery_percentage .value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 4vh;
    
}

.info_box_battery_percentage .box_name{
    text-align: center;

    position: fixed;
    top: 14.3vh;
    left: 10vw;
}

.info_box_battery_percentage .box_name h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.5vh;
    
}
/* ---------------------minimum cell voltage---------------------- */
.info_box_minimum_cell_voltage .white_box{
    background-color: white;
    position:fixed;
    top: 16.6vh;
    left: 40vw;

    width: 8vw;
    height: 6vh;
    border-radius: 21px;
    border: 2px solid #333;

}

.info_box_minimum_cell_voltage .value{
    text-align: center;

    position: fixed;
    top: 13.8vh;
    left: 41.5vw;

}

.info_box_minimum_cell_voltage .value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 4vh;
    
}

.info_box_minimum_cell_voltage .box_name{
    text-align: center;

    position: fixed;
    top: 13vh;
    left: 32.5vw;
}

.info_box_minimum_cell_voltage .box_name h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.5vh;
    
}

/* -----------------------------maximum cell voltage----------------------- */
.info_box_maximum_cell_voltage .white_box{
    background-color: white;
    position:fixed;
    top: 16.6vh;
    left: 60vw;

    width: 8vw;
    height: 6vh;
    border-radius: 21px;
    border: 2px solid #333;

}

.info_box_maximum_cell_voltage .value{
    text-align: center;

    position: fixed;
    top: 13.8vh;
    left: 61.5vw;

}

.info_box_maximum_cell_voltage .value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 4vh;
    
}

.info_box_maximum_cell_voltage .box_name{
    text-align: center;

    position: fixed;
    top: 13vh;
    left: 53vw;
}

.info_box_maximum_cell_voltage .box_name h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.5vh;
    
}

/* ------------------------------- INFO PANEL CELLS ------------------------------------- */

.info_panel_CELLS{
    background-color: #D9D9D9;

    width: 72vw;
    height: 66vh;
    border-radius: 20px;

    position:fixed;
    top: 26vh;
    left: 4vw;
}

.info_panel_CELLS_text{
    position:fixed;
    top:25vh;
    left:8vw;
}

.info_panel_CELLS_text h1{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 4.82vh;
    
}

/* ------------CELL 1---------------- */
.cell_1 .battery_icon{
    position: fixed;
    left: 9.95vw;
    top:37.68vh;
}

.cell_1 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.cell_1 .charging_status_diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%; 

    position:fixed;
    top: 41vh;
    left: 11.6vw; 
}

.cell_1 .voltage_value{
    text-align: center;

    position: fixed;
    top: 44vh;
    left: 10.6vw;
}

.cell_1 .voltage_value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.9vh;
}

.cell_1 .cell_number{
    text-align: center;

    position: fixed;
    top: 50vh;
    left: 11.4vw;

}

.cell_1 .cell_number h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.75vh;
}

/* ----------------CELL 2----------------- */
.cell_2 .battery_icon{
    position: fixed;
    left: 16.65vw;
    top:37.68vh;
}

.cell_2 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.cell_2 .charging_status_diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%; 

    position:fixed;
    top: 41vh;
    left: 18.4vw; 
}

.cell_2 .voltage_value{
    text-align: center;

    position: fixed;
    top: 44vh;
    left: 17.35vw;
}

.cell_2 .voltage_value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.9vh;
}

.cell_2 .cell_number{
    text-align: center;

    position: fixed;
    top: 50vh;
    left: 18.1vw;

}

.cell_2 .cell_number h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.75vh;
}

/* -------------------------CELL 3------------------ */
.cell_3 .battery_icon{
    position: fixed;
    left: 23.58vw;
    top:37.68vh;
}

.cell_3 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.cell_3 .charging_status_diode{
    background-color: green;
    box-shadow: 0 0 5px green;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%; 

    position:fixed;
    top: 41vh;
    left: 25.3vw; 
}

.cell_3 .voltage_value{
    text-align: center;

    position: fixed;
    top: 44vh;
    left: 24.3vw;
}

.cell_3 .voltage_value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.9vh;
}

.cell_3 .cell_number{
    text-align: center;

    position: fixed;
    top: 50vh;
    left: 25.2vw;

}

.cell_3 .cell_number h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.75vh;
}

/* -----------------CELL 4----------------- */
.cell_4 .battery_icon{
    position: fixed;
    left: 30.28vw;
    top:37.68vh;
}

.cell_4 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.cell_4 .charging_status_diode{
    background-color: red;
    box-shadow: 0 0 5px red;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%; 

    position:fixed;
    top: 41vh;
    left: 32vw; 
}

.cell_4 .voltage_value{
    text-align: center;

    position: fixed;
    top: 44vh;
    left: 31vw;
}

.cell_4 .voltage_value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.9vh;
}

.cell_4 .cell_number{
    text-align: center;

    position: fixed;
    top: 50vh;
    left: 31.8vw;

}

.cell_4 .cell_number h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.75vh;
}

/* ------------------CELL 5------------------- */
.cell_5 .battery_icon{
    position: fixed;
    left: 37.17vw;
    top:37.68vh;
}

.cell_5 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.cell_5 .charging_status_diode{
    background-color: red;
    box-shadow: 0 0 5px red;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%; 

    position:fixed;
    top: 41vh;
    left: 38.9vw; 
}

.cell_5 .voltage_value{
    text-align: center;

    position: fixed;
    top: 44vh;
    left: 38vw;
}

.cell_5 .voltage_value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.9vh;
}

.cell_5 .cell_number{
    text-align: center;

    position: fixed;
    top: 50vh;
    left: 38.8vw;

}

.cell_5 .cell_number h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.75vh;
}

/* -------------------------CELL 6---------------------- */
.cell_6 .battery_icon{
    position: fixed;
    left: 43.99vw;
    top:37.68vh;
}

.cell_6 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.cell_6 .charging_status_diode{
    background-color: red;
    box-shadow: 0 0 5px red;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%; 

    position:fixed;
    top: 41vh;
    left: 45.75vw; 
}

.cell_6 .voltage_value{
    text-align: center;

    position: fixed;
    top: 44vh;
    left: 44.7vw;
}

.cell_6 .voltage_value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.9vh;
}

.cell_6 .cell_number{
    text-align: center;

    position: fixed;
    top: 50vh;
    left: 45.55vw;

}

.cell_6 .cell_number h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.75vh;
}

/* -------------------------CELL 7--------------------- */
.cell_7 .battery_icon{
    position: fixed;
    left: 50.81vw;
    top:37.68vh;
}

.cell_7 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.cell_7 .charging_status_diode{
    background-color: red;
    box-shadow: 0 0 5px red;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%; 

    position:fixed;
    top: 41vh;
    left: 52.5vw; 
}

.cell_7 .voltage_value{
    text-align: center;

    position: fixed;
    top: 44vh;
    left: 51.55vw;
}

.cell_7 .voltage_value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.9vh;
}

.cell_7 .cell_number{
    text-align: center;

    position: fixed;
    top: 50vh;
    left: 52.4vw;

}

.cell_7 .cell_number h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.75vh;
}

/* ---------------------------CELL 8------------------ */
.cell_8 .battery_icon{
    position: fixed;
    left: 57.63vw;
    top:37.68vh;
}

.cell_8 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.cell_8 .charging_status_diode{
    background-color: red;
    box-shadow: 0 0 5px red;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%; 

    position:fixed;
    top: 41vh;
    left: 59.35vw; 
}

.cell_8 .voltage_value{
    text-align: center;

    position: fixed;
    top: 44vh;
    left: 58.25vw;
}

.cell_8 .voltage_value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.9vh;
}

.cell_8 .cell_number{
    text-align: center;

    position: fixed;
    top: 50vh;
    left: 59.2vw;

}

.cell_8 .cell_number h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.75vh;
}

/* -----------------------CELL 9---------------------- */
.cell_9 .battery_icon{
    position: fixed;
    left: 64.45vw;
    top:37.68vh;
}

.cell_9 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.cell_9 .charging_status_diode{
    background-color: red;
    box-shadow: 0 0 5px red;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%; 

    position:fixed;
    top: 41vh;
    left: 66.2vw; 
}

.cell_9 .voltage_value{
    text-align: center;

    position: fixed;
    top: 44vh;
    left: 65.2vw;
}

.cell_9 .voltage_value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.9vh;
}

.cell_9 .cell_number{
    text-align: center;

    position: fixed;
    top: 50vh;
    left: 66vw;

}

.cell_9 .cell_number h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.75vh;
}

/* ------------------------------CELL 10----------------------- */
.cell_10 .battery_icon{
    position: fixed;
    left: 9.82vw;
    top: 65.09vh;
}

.cell_10 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.cell_10 .charging_status_diode{
    background-color: red;
    box-shadow: 0 0 5px #f00;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%; 

    position:fixed;
    top: 68.5vh;
    left: 11.6vw; 
}

.cell_10 .voltage_value{
    text-align: center;

    position: fixed;
    top: 71.5vh;
    left: 10.6vw;
}

.cell_10 .voltage_value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.9vh;
}

.cell_10 .cell_number{
    text-align: center;

    position: fixed;
    top: 77.5vh;
    left: 10.65vw;

}

.cell_10 .cell_number h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.75vh;
}

/* -----------------------CELL 11------------------ */
.cell_11 .battery_icon{
    position: fixed;
    left: 16.65vw;
    top: 65.09vh;
}

.cell_11 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.cell_11 .charging_status_diode{
    background-color: green;
    box-shadow: 0 0 5px green;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%; 

    position:fixed;
    top: 68.5vh;
    left: 18.4vw;  
}

.cell_11 .voltage_value{
    text-align: center;

    position: fixed;
    top: 71.5vh;
    left: 17.35vw;
}

.cell_11 .voltage_value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.9vh;
}

.cell_11 .cell_number{
    text-align: center;

    position: fixed;
    top: 77.5vh;
    left: 17.6vw;

}

.cell_11 .cell_number h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.75vh;
}

/* ------------------------CELL 12---------------------- */
.cell_12 .battery_icon{
    position: fixed;
    left: 23.58vw;
    top: 65.09vh;
}

.cell_12 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.cell_12 .charging_status_diode{
    background-color: red;
    box-shadow: 0 0 5px red;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%; 

    position:fixed;
    top: 68.5vh;
    left: 25.3vw; 
}

.cell_12 .voltage_value{
    text-align: center;

    position: fixed;
    top: 71.5vh;
    left: 24.3vw;
}

.cell_12 .voltage_value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.9vh;
}

.cell_12 .cell_number{
    text-align: center;

    position: fixed;
    top: 77.5vh;
    left: 24.5vw;

}

.cell_12 .cell_number h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.75vh;
}

/* ---------------------------CELL 13----------------------- */
.cell_13 .battery_icon{
    position: fixed;
    left: 30.28vw;
    top: 65.09vh;
}

.cell_13 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.cell_13 .charging_status_diode{
    background-color: red;
    box-shadow: 0 0 5px red;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%; 

    position:fixed;
    top: 68.5vh;
    left: 32vw;
}

.cell_13 .voltage_value{
    text-align: center;

    position: fixed;
    top: 71.5vh;
    left: 31vw;
}

.cell_13 .voltage_value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.9vh;
}

.cell_13 .cell_number{
    text-align: center;

    position: fixed;
    top: 77.5vh;
    left: 31.1vw;

}

.cell_13 .cell_number h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.75vh;
}

/* ----------------------CELL 14------------------ */
.cell_14 .battery_icon{
    position: fixed;
    left: 37.17vw;
    top: 65.09vh;
}

.cell_14 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.cell_14 .charging_status_diode{
    background-color: red;
    box-shadow: 0 0 5px red;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%; 

    position:fixed;
    top: 68.5vh;
    left: 38.9vw;
}

.cell_14 .voltage_value{
    text-align: center;

    position: fixed;
    top: 71.5vh;
    left: 38vw;
}

.cell_14 .voltage_value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.9vh;
}

.cell_14 .cell_number{
    text-align: center;

    position: fixed;
    top: 77.5vh;
    left: 38vw;

}

.cell_14 .cell_number h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.75vh;
}

/* ---------------------------CELL 15------------------------ */
.cell_15 .battery_icon{
    position: fixed;
    left: 43.99vw;
    top: 65.09vh;
}

.cell_15 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.cell_15 .charging_status_diode{
    background-color: red;
    box-shadow: 0 0 5px red;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%; 

    position:fixed;
    top: 68.5vh;
    left: 45.75vw;
}

.cell_15 .voltage_value{
    text-align: center;

    position: fixed;
    top: 71.5vh;
    left: 44.7vw;
}

.cell_15 .voltage_value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.9vh;
}

.cell_15 .cell_number{
    text-align: center;

    position: fixed;
    top: 77.5vh;
    left: 44.9vw;
}

.cell_15 .cell_number h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.75vh;
}

/* ----------------------------CELL 16------------------- */
.cell_16 .battery_icon{
    position: fixed;
    left: 50.81vw;
    top: 65.09vh;
}

.cell_16 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.cell_16 .charging_status_diode{
    background-color: red;
    box-shadow: 0 0 5px red;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%; 

    position:fixed;
    top: 68.5vh;
    left: 52.5vw;
}

.cell_16 .voltage_value{
    text-align: center;

    position: fixed;
    top: 71.5vh;
    left: 51.55vw;
}

.cell_16 .voltage_value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.9vh;
}

.cell_16 .cell_number{
    text-align: center;

    position: fixed;
    top: 77.5vh;
    left: 51.75vw;
}

.cell_16 .cell_number h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.75vh;
}

/* ---------------------------CELL 17--------------------- */
.cell_17 .battery_icon{
    position: fixed;
    left: 57.63vw;
    top: 65.09vh;
}

.cell_17 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.cell_17 .charging_status_diode{
    background-color: red;
    box-shadow: 0 0 5px red;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%; 

    position:fixed;
    top: 68.5vh;
    left: 59.35vw;
}

.cell_17 .voltage_value{
    text-align: center;

    position: fixed;
    top: 71.5vh;
    left: 58.25vw;
}

.cell_17 .voltage_value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.9vh;
}

.cell_17 .cell_number{
    text-align: center;

    position: fixed;
    top: 77.5vh;
    left: 58.55vw;
}

.cell_17 .cell_number h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.75vh;
}

/* ---------------------------CELL 18------------------------ */
.cell_18 .battery_icon{
    position: fixed;
    left: 64.45vw;
    top: 65.09vh;
}

.cell_18 .battery_icon img{
    width:4.4vw;
    height:14.8vh;
}

.cell_18 .charging_status_diode{
    background-color: red;
    box-shadow: 0 0 5px red;
    /* NIERESPONSYWNE */
    width: 15px; 
    height: 15px;
    border-radius: 50%; 

    position:fixed;
    top: 68.5vh;
    left: 66.2vw; 
}

.cell_18 .voltage_value{
    text-align: center;

    position: fixed;
    top: 71.5vh;
    left: 65.2vw;
}

.cell_18 .voltage_value h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 2.9vh;
}

.cell_18 .cell_number{
    text-align: center;

    position: fixed;
    top: 77.5vh;
    left: 65.45vw;
}

.cell_18 .cell_number h2{
    font-family: "Kode Mono", monospace;
    font-weight: 1;
    font-style: normal;
    font-size: 3.75vh;
}